/* You can add global styles to this file, and also import other style files */

html, body {
    overscroll-behavior: none; // remove swiping
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    background: #333333;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .card-title {
            font-weight: 500;
            font-size: 1.125rem;
        }

        nz-button-group {
            .add-btn {
                width: 12rem;
            }

            .expand-btn {
                width: 3rem
            }
        }
    }
}

.control-group nz-input-number {
    width: 4rem !important;
}

.control-group nz-switch button {
    width: 4rem !important;
}

.control-group nz-select, app-color-picker {
    flex-grow: 1;
}

nz-radio-group {
    flex-grow: 1;
    display: flex !important;

    label {
        flex-grow: 1;
        text-align: center;
    }
}

.control-content {
    .name-edit-text {
        flex-grow: 1;
    }

    .slider-text {
        width: 2rem;
        text-align: center;
    }
}

nz-slider {
    flex-grow: 1;
}

.popover-action-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.ant-popover-inner-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

nz-divider {
    margin: 8px 0 !important;
    font-weight: normal !important;
    font-size: 0.875rem !important;
}

.ant-collapse-header {
    background-color: #333333;
}

.ant-collapse-content {
    background-color: #1F1F1F !important;
}

.outline {
    outline: 1px dashed green;
}

.sketch-picker {
    padding: 0 !important;
    box-sizing: initial !important;
    background: initial !important;
    border-radius: 0 !important;
    box-shadow: initial !important;
}

.sketch-picker input {
    // override with zorro properties
    font-size: inherit !important;
    padding: 4px 11px !important;
    border: 1px solid #434343 !important;
    box-shadow: initial !important;


    // set zorro input properties
    color: rgba(255,255,255,.85);
    position: relative;
    display: inline-block;
    background-color: transparent;
    border-radius: 2px;
    transition: all .3s;
    margin: 0;
    line-height: 1.5715;
    list-style: none;
}

.sketch-picker input:hover {
    border-color: #165996 !important;
    border-right-width: 1px !important;
}

.sketch-picker input:focus {
    border-color: #177ddc !important;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgb(23 125 220 / 20%) !important;
}

.sketch-picker span {
    font-size: inherit !important;
    color: rgba(255,255,255,.85) !important;
}

.sketch-picker .sketch-swatches {
    border-top: 1px solid rgba(255, 255, 255, 0.12) !important;
}

.sketch-picker .sketch-hue, .color-hue-pointer, .color-hue-slider {
    height: 100% !important;
}
